.DS_Store
*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
target-eclipse
/web-app/plugins
/web-app/WEB-INF/classes
/web-app/META-INF
setEnvironment
logs

std.out
testApp.log
.classpath
.project
*.sw?

.idea
*.iml
out
/plugins/*
/config

# Temp file patterns from Emacs and vi
**/#*#
**/.#*
**/*~
**/.*.swp

/*.groovy*
